-- Update image URLs to Supabase Storage URLs
UPDATE products SET 
  image = REPLACE(image, '/images/', 'https://gwwmkcfyvgyeflbynbmj.supabase.co/storage/v1/object/public/images/'),
  images = ARRAY(
    SELECT REPLACE(unnest(images)::text, '/images/', 'https://gwwmkcfyvgyeflbynbmj.supabase.co/storage/v1/object/public/images/')::text
  )
WHERE image LIKE '/images/%';
